@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Montserrat:wght@800&family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}
body {
  background-color: #eee;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
nav {
  padding: 1em 4em;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7);
  color: #000;
  height: 51px;
}
nav,
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  gap: 0.5rem;
}
li a {
  padding: 0.8em 0.5em;
  text-decoration: none;
  color: #fff;
  width: 250px;
}
li:nth-child(2) a {
  color: tomato;
  border-bottom: 2px solid tomato;
}
li:not(:nth-child(2)) a:hover {
  padding: 0.8em 0.5em;
  color: tomato;
  border-bottom: 2px solid tomato;
}
.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
}
.logo span {
  color: tomato;
  font-weight: 700;
  font-size: 1.2rem;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 4em;
  grid-gap: 1em;
}
.card {
  /* padding-bottom: 3em; */
  background-color: #fff;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 3px 2px 3px 2px rgba(87, 86, 86, 0.473);
}
img {
  width: 100%;
  height: 100%;

  transition: transform 0.6s ease;
}
.image {
  overflow: hidden;
  height: 200px;
}
.image:hover img {
  transform: scale(1.3);
}
.text {
  padding: 2em;
}
.text p {
  padding-bottom: 0.5em;
}
.map,
.phone,
.cost {
  display: flex;
  align-items: center;
}
.icons {
  margin-bottom: 1rem;
}
.icons i {
  font-size: 1.5rem;
  color: tomato;
}
.icons p {
  margin-left: 1em;
  font-size: 1.2rem;
}
.btn {
  padding: 0.9em 4em;
  width: 100%;
  border: none;
  color: #fff;
  background: tomato;
  cursor: pointer;
}
.btn:hover {
  background: rgb(248, 71, 39);
}
