@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Montserrat:wght@800&family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}
body {
  background-color: #aaa;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

/*============== 
Navigation bar 
==============*/
nav {
  padding: 1em 4em;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  height: 51px;
}
nav,
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  gap: 0.5rem;
}
li a {
  padding: 0.8em 0.5em;
  text-decoration: none;
  color: #fff;
  width: 250px;
}
li:first-child a {
  color: #fff;
  border-bottom: 2px solid tomato;
}
li:not(:first-child) a:hover {
  padding: 0.8em 0.5em;
  color: #fff;
  border-bottom: 2px solid tomato;
}
.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}
.logo span {
  color: tomato;
  font-weight: 700;
  font-size: 1.2rem;
}

/*============
Home container 
============*/
.home-container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  /* background-image: url("/images/house_1.jpg"); */
  background-position: left center;
  background-size: cover;
  background-blend-mode: overlay;
  animation: background_image ease 40s infinite alternate;
}
/* it changes the backgound image  */
@keyframes background_image {
  0% {
    background-image: url("./images/house_1.jpg");
  }
  25% {
    background-image: url("./images/house_2.jpg");
  }
  50% {
    background-image: url("./images/house_3.jpg");
  }
  75% {
    background-image: url("./images/house_4.jpg");
  }
  100% {
    background-image: url("./images/house_5.jpg");
  }
}
.overlay_text {
  height: 100%;
  padding: 10em 0;
}
.text {
  width: 80%;
  margin: 0 auto;
  color: #fff;
}
.text h1 {
  font-size: 4rem;
  width: 50%;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.text p {
  width: 70%;
  line-height: 1.8;
  padding: 2em 0;
  font-weight: 300;
  font-family: "Epilogue", "Montserrat", sans-serif;
}
.text a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.6em 2em;
  color: #fff;
  background-color: tomato;
  font-weight: 500;
}
